form{
    min-width: 480px;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100%; 
  
}

.form-group { 
  margin-bottom: 1.2rem;
  
}

.actions { 
    display: flex; 
    flex-direction: column; 
    gap: 10px; 
    margin-top: 
    1rem; 
}

.btn-submit { background-color: #007bff; 
    color: white; 
    border: none; 
    padding: 0.8rem; 
    cursor: pointer; 
    border-radius: 4px; 
}
.btn-submit:disabled { 
    background-color: #ccc; 
}

.btn-register { background: none;
    border: 1px solid #007bff; 
    color: #007bff; 
    padding: 0.8rem; 
    cursor: pointer; 
    border-radius: 4px; 
}

.error-msg{
    color: rgba(255, 0, 0, 0.575);
}

/* ajuste do hiperlink */
.link-text{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #222;
}

.link-text a {
  color: #555;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  margin-left: 5px;
}

.link-text a:hover{
    color: #aaa;
}


@media (max-width: 480px) {
  .form {
    padding: 16px;
    border-radius: 8px;
  }

  input {
    padding: 10px;
  }
}
